@media (prefers-color-scheme: dark) {
    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}

@media (prefers-color-scheme: light) {
    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(0);
    }
}


input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.tabs ul {
    border-bottom: none;
}

.cf-tabs a {
    padding: 0.4rem 0.75rem;
}

.cf-tabs .tab-label {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
}

.cf-tabs .tab-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 16px;
    height: 16px;
    padding: 0 5px;

    font-size: 0.65rem;
    line-height: 1;
    border-radius: 9999px;

    color: #fff;
}

.cf-tabs .tab-badge.is-success {
  background-color: #4caf6a;
  border: 1px solid #3e9a5f;
  color: #ffffff;
}

.cf-tabs .tab-badge.is-danger {
  background-color: #e06a6a;
  border: 1px solid #c95454;
  color: #ffffff;
}

.tabs.is-toggle.cf-tabs li.is-active a {
  background-color: #1f5fbf;
  border-color: #9bb8e8;
  color: #ffffff;
}

.platform-tag {
  font-size: 9px;
  font-weight: 500;
  padding: 3px 6px;
  border-radius: 9999px;
  line-height: 1;
  letter-spacing: 0.3px;
  height: min-content;
}

.platform-tag.cf {
  background-color: #2d6bdfef;
  color: #ffffff;
}

.platform-tag.lc {
  background-color: #f8a01bf3;
  color: #1b1b1b;
}